* {
  margin: 0px;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 5;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  margin-left: 30px;
}

.logo span {
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

nav span {
  display: inline-block;
  padding: 15px;
  color: black;
}

.content {
  display: flex;
  padding-top: 100px;
  margin-bottom: 100px;
}

.column.large {
  width: 630px;
  flex-direction: row;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.column {
  display: flex;
  margin-right: 30px;
  border: 1px solid black;
}

span, p {
  border: 1px solid black;
}

.image-content {
  display: flex;
  font-family: Georgia;
  font-size: 30px;
  color: white;
  font-weight: bold;
  height: 300px;
  flex-direction: column;
  text-align: center;
}

.tuna {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
  font-size: 40px;
  width: 630px;
}

.fall-cancelled {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
}

.pop-culture {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
}

.cat {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
}

.narrative {
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2, h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.story {
  flex-direction: column;
}

.stories {
  display: flex;
}
